.daily-bruin-link {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.jumbotron {
  background-image: url('../img/bball.jpg');
  background-size: cover;
  height: 100%;
}

.jumbotron h1 {
  text-align: center;
  padding-top: 450px;
  color: white;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 100px;
}
.parallax-window {
    min-height: 1000px;
    height: auto;
    background: transparent;
    width: 100%;
}

.photo-credit {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.content h3 {
  font-family: 'Roboto', sans-serif;
}

.content p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.page-credit {
  text-align: center;
}
